{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <h1 class="dummy">Connect</h1>

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                      <h2>Connect</h2>
                      <p>social media platforms give recommendations based on many parameters which focus on entertainment and includes distractions.
                        Our main motivation is to solve this problem by developing a professional portal where students can login and find friend suggestions purely based on their skills, the system  provides the platform for students to gain momentum with respect to their career.</p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}